.diverse{
  display:flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 80px;
  font-family: 'Koulen';
  font-size: 40px;
}

#slider {
  margin: 0 auto;
  width: 200px;
  max-width: 100%;
  text-align: center;
  border-radius: 50%;
}
#slider input[type=radio] {
  display: none;
}


#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 250px;
}
#slides .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color:black;
}
#slides .slide_1 {
  background: transparent;
}
#slides .slide_2 {
  background: transparent;
}
#slides .slide_3 {
  background: transparent;
}
#slides .slide_4 {
  background: transparent;
}
#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  
  float:right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  
  float:left;
  margin: 0 0 0 -50px;
  display: block;
}
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius:100%;
  background: black;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: black;
}
@media screen and (max-width: 300px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
     margin: 0;
  }
  #slides {
     max-width: calc(100% - 140px);
     margin: 0 auto;
  }
}

img{
  width: 171px;
  height: 193px;
}



h2{
  font-family: 'Koulen';
}

.img-sapca{
  height: 160px;
}

.img-cana{
  height: 150px;
}


.back-div2{
  display: flex;
  align-items: center;
  height: 812px;
  background-image: url(/css-project/images/back-section2.png);
}

.citat{
  color: white;
  margin-left: 40px;

}

h3{
  color:white;
  font-family: 'Koulen';
  margin-top: 0;
}

.citat2{
  color: white;
  margin-right: 40px;
}

p{
  margin-left: 200px;
  margin-top: 0;
}